html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: 0;
  border-width: 0px;
  text-transform: uppercase;
}

.site-navigation,
.social-list,
.sort-list,
.hotels-list {
  list-style: none;
}

/*****************************************************************************
************************************HEADER************************************
*****************************************************************************/
.header-wrapper {
  width: 1200px;
  margin: 0 auto;
}

header {
  height: 56px;
  background-color: tomato;
}

.main-navigation {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 530px;
}

.site-navigation {
  width: 1060px;
  /*временно для сетки*/
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  background-color: gold;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.site-navigation li {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  background-color: #ffffff;
  display: inline;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation .active {
  color: #766357;
}

/*****************************************************************************
******************************SECTION INTRO***********************************
*****************************************************************************/
.page-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.intro {
  background-color: #c66b57;
  background-image: url("../img/intro-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.intro p {
  line-height: 26px;
}

/*****************************************************************************
******************************SECTION ABOUT***********************************
*****************************************************************************/
.about {
  width: 1200px;
  margin: 0 auto;
}

.additional-features {
  background-color: #ffffff;
}

.additional-features .feature {
  min-height: 330px;
  max-width: 400px;
}

.additional-features .housing {
  background-image: url("../img/icon-housing.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}

.additional-features .meal {
  background-image: url("../img/icon-burger.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}

.additional-features .souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}

.about h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.real-town,
.additional-features,
.devil-bridge,
.features {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.real-town .info,
.devil-bridge .info {
  color: #ffffff;
  background-color: #81b3d2;
  min-height: 256px;
  max-width: 400px;
}

.devil-bridge {
  flex-flow: row-reverse;
}

.devil-bridge .info {
  order: -1;
}

.features {
  background-color: #eeeeee;
}

.features .feature {
  min-height: 256px;
  min-width: 400px;
}

/*****************************************************************************
******************************SECTION BOOKING*********************************
*****************************************************************************/
.booking {
  background-color: #ffffff;
}

.booking h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.booking p {
  line-height: 24px;
}

.booking .search-button {
  background-color: #766357;
}

.booking .search-button:hover,
.booking .search-button:focus {
  background-color: #604e43;
}

.booking .search-button:active {
  color: #625248;
  background-color: #503e33;
}

.search-form {
  width: 570px;
  /*временно для сетки*/
  background-color: #ffffff;
  padding-left: 55px;
  padding-right: 55px;
  margin: 0 auto;
}

.search-form label {
  line-height: 26px;
  font-weight: 700;
}

.search-form input[type=text],
.search-form input::placeholder,
.search-form input[type=number] {
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: transparent;
  display: inline-block;
}

.search-form input:hover[type=text],
.search-form input:hover::placeholder,
.search-form input:hover[type=number] {
  background-color: #ebebeb;
}

.search-form input:focus[type=text],
.search-form input:focus::placeholder,
.search-form input:focus[type=number] {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form input[type=text],
.search-form input::placeholder {
  width: 346px;
  height: 38px;
  border: none;
}

.search-form input[type=number] {
  width: 114px;
  height: 38px;
  text-align: center;
}

.search-form .button-minus::after {
  content: "-";
}

.search-form .button-plus::after {
  content: "+";
}

.search-form .button-minus::after,
.search-form .button-plus::after {
  width: 11px;
  height: 11px;
  font-weight: 700;
  color: #a9a9a9;
}

.search-form .button-minus:hover::after,
.search-form .button-plus:hover::after {
  color: #000000;
}

.search-form .button-minus:active::after,
.search-form .button-plus:active::after {
  color: #81b3d2;
}

.search-form .button {
  background-color: #81b3d2;
}

.search-form svg {
  fill: #a9a9a9;
}

.search-form svg:hover {
  fill: #000000;
}

.search-form svg:active {
  fill: #81b3d2;
}

/*****************************************************************************
************************************FOOTER************************************
*****************************************************************************/
.footer-wrapper {
  width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: #ffffff;
  opacity: 0.902;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contacts,
.social-list,
.copyright {
  display: inline;
}

.contacts {
  padding-left: 120px;
}

footer .hashtag,
footer .tel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.social-list {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.social-icon {
  display: inline-block;
  width: 46px;
  height: 48px;
  fill: #ffffff;
  background-color: #81b3d2;
}

.social-icon:hover,
.social-icon:focus {
  background-color: #669ec0;
}

.social-icon:active {
  fill: #88b6d1;
  background-color: #5496bd;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 100px;
}

.copyright p {
  line-height: 26px;
  display: block;
}

.copyright a:hover {
  fill: #81b3d2;
}

.copyright a:active {
  fill: #bdbbbc;
}

/*****************************************************************************
************************************HOTELS PAGE*******************************
*****************************************************************************/

/*****************************************************************************
*********************************SECTION FILTER*******************************
*****************************************************************************/
.filter {
  background-color: #81b3d2;
  background-image: url("../img/filter-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  color: #ffffff;
  line-height: 21px;
  width: 1200px;
  /*временно для сетки*/
  min-height: 217px;
  /*временно для сетки*/
  margin: 0 auto;
}

.filter .infrastructure,
.filter .housing-type,
.filter .price-indicator {
  display: inline;
  height: 155px;
  /*временно для сетки*/
}

.filter label {
  display: block;
}

.filter-form {
  width: 1200px;
  /*временно для сетки*/
  padding-top: 50px;
  /*временно для сетки*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter .filter-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter .filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

/*****************************************************************************
**********************************SECTION SORT********************************
*****************************************************************************/
.sort {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  /*временно для сетки*/
  margin: 0 auto;
  align-items: center;
  padding: 0 70px;
}

.sort p,
.sort ul,
.sort ul li,
.sort span {
  display: inline;
}

.sort p:first-child {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort .label-sort,
.sort-list li {
  font-size: 12px;
  line-height: 18px;
}

.sort .sort-pointer {
  margin-left: auto;
}

.sort-list a {
  color: #cacaca;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sort-list a:hover {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;
  text-decoration: none;
}

.sort-list .current {
  color: #81b3d2;
  text-decoration: none;
}

.sort-pointer svg {
  fill: #cacaca;
}

.sort-pointer svg:hover {
  fill: #231f20;
}

.sort-pointer svg:active {
  fill: #81b3d2;
}

/*****************************************************************************
**************************SECTION HOTELS FILTERED*****************************
*****************************************************************************/
.hotels-filtered {
  background-color: #fefefe;
  width: 1200px;
  /*временно для сетки*/
  margin: 0 auto;
  padding: 0 70px;
}

.hotels-list {
  padding-left: 0;
}

.hotels-list li {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotels-list img,
.hotels-list .info-hotel,
.hotels-list .rating {
  display: inline;
}

.info-hotel {
  background-color: lightgreen;
  /*временно для сетки*/
  margin-left: 30px;
}

.hotel-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin: 0 auto;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.info-hotel .housing-type {
  display: block;
}

.booking-details-button,
.start-booking-button {
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.hotels-list.booking-details-button,
.hotels-list.start-booking-button {
  color: #ffffff;
}

.booking-details-button {
  background: #81b3d2;
}

.booking-details-button:hover,
.booking-details-button:focus {
  background: #669ec0;
}

.booking-details-button:active {
  color: #88b6d1;
  background: #5496bd;
}

.start-booking-button {
  background: #766357;
}

.start-booking-button:hover,
.start-booking-button:focus {
  background: #604e43;
}

.start-booking-button:active {
  color: #857871;
  background: #503e33;
}

.rating {
  align-self: flex-end;
  width: 110px;
  height: 27px;
  height: 24.5px;
  background-color: #f2f2f2;
  text-align: center;
  margin-left: auto;
}

.hotels-filtered .icon-star:after {
  content: url("../img/icon-star.svg");
}
