html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: 0;
  border-width: 0;
  text-transform: uppercase;
}

.site-navigation,
.social-list,
.sort-list,
.hotels-list {
  list-style: none;
}

/*****************************************************************************
************************************HEADER************************************
*****************************************************************************/
.header-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(00, 11, 11, 0.2);
}

header {
  height: 56px;
  background-color: #ffffff;
}

.main-navigation {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

.site-navigation {
  width: 1060px;
  /*временно для сетки*/
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.site-navigation li {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current-page {
  color: #766357;
}

/*****************************************************************************
******************************SECTION INTRO***********************************
*****************************************************************************/
.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(00, 11, 11, 0.2);
}

.intro {
  background-color: #c66b57;
  background-image: url("../img/intro-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 450px, 950px 475px, 950px 450px, 50% 510px, 250px 450px, 250px 475px, 0 450px);
  min-height: 510px;
}

.intro img {
  margin: 80px auto;
}

.intro .title-intro {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 380px;
  padding-right: 380px;
}

.intro p {
  line-height: 26px;
}

/*****************************************************************************
******************************SECTION ABOUT***********************************
*****************************************************************************/
.about {
  width: 1200px;
  margin: 0 auto;
}

.additional-features {
  background-color: #ffffff;
}

.additional-features .feature {
  min-height: 330px;
  max-width: 400px;
}

.additional-features .housing {
  background-image: url("../img/icon-housing.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}

.additional-features .meal {
  background-image: url("../img/icon-burger.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}

.additional-features .souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}

.real-town h2,
.devil-bridge h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  padding: 60px 120px 0 120px;
}

.real-town .feature-description {
  padding: 0 60px;
}

.devil-bridge .feature-description {
  padding: 0 45px;
}

.additional-features h2 {
  padding-top: 160px;
  margin-bottom: 0;
}

.additional-features p {
  padding: 30px 55px 0 55px;
  margin-top: 0;
}

.features h2 {
  margin-top: 0;
  padding: 50px 140px 0 140px;
}

.features p {
  padding: 0 75px;
}

.features p:not.feature:nth-child(2) p {
  padding: 0 65px;
}

.real-town,
.additional-features,
.devil-bridge,
.features {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.real-town .info,
.devil-bridge .info {
  color: #ffffff;
  background-color: #81b3d2;
  min-height: 256px;
  max-width: 400px;
}

.devil-bridge {
  flex-flow: row-reverse;
}

.devil-bridge .info {
  order: -1;
}

.features {
  background-color: #eeeeee;
}

.features .feature {
  min-height: 256px;
  max-width: 400px;
}

/*****************************************************************************
******************************SECTION BOOKING*********************************
*****************************************************************************/
.booking {
  background-color: #ffffff;
}

.booking h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 65px;
  margin-top: 0;
  margin-bottom: 0;
}

.booking p {
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
}

.booking .openform-button {
  margin-top: 50px;
  background-color: #766357;
  padding: 30px 140px;
}

.booking .openform-button:hover,
.booking .openform-button:focus {
  background-color: #604e43;
}

.booking .openform-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.booking {
  position: relative;
}

.booking .search-form {

  /*временно для сетки*/
  background-color: #ffffff;
  padding: 55px 50px;

  margin: 0 auto;
  position: absolute;
  top: 315px;
  left: 50%;
  transform: translate(-50%, 0);

  max-width: 570px;
}

.search-form label {
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 30px;
  display: inline-block;
}

.search-form input[type=text],
.search-form input::placeholder,
.search-form input[type=number] {
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  margin-left: 12px;
  /*margin-right: 20px;*/
  display: inline-block;
}

.search-form input:hover[type=text],
.search-form input:hover[type=number],
.search-form input:hover::placeholder {
  background-color: #ebebeb;
}

.search-form input:focus[type=text],
.search-form input:focus[type=number],
.search-form input:focus::placeholder {
  background-color: #ffffff;
  outline: 2px solid #f2f2f2;
}

.search-form input[type=text],
.search-form input::placeholder {
  width: 346px;
  padding: 6px 0;
}

.search-form input::placeholder {
  padding-left: 12px;
}

.search-form input[type=number] {
  width: 114px;
  height: 38px;
  text-align: center;
}

.search-form .button-minus::after {
  content: "-";
}

.search-form .button-plus::after {
  content: "+";
}

.search-form .button-minus::after,
.search-form .button-plus::after {
  width: 11px;
  height: 11px;
  font-weight: 700;
  color: #a9a9a9;
}

.search-form .button-minus:hover::after,
.search-form .button-plus:hover::after {
  color: #000000;
}

.search-form .button-minus:active::after,
.search-form .button-plus:active::after {
  color: #81b3d2;
}

.calendar-button,
.minus-adults-button,
.plus-adults-button,
.minus-children-button,
.plus-children-button {
  display: none;
}

.search-form svg {
  fill: #a9a9a9;
}

.search-form svg:hover {
  fill: #000000;
}

.search-form svg:active {
  fill: #81b3d2;
}

.search-form input[type="text"]:first-child {
  position: relative;
}

.calendar-checkin {
  position: absolute;
  top: 10px;
  left: 480px;
}

.calendar-checkout {
  position: absolute;
  top: 50px;
  left: 480px;
}

.search-form .sendform-button {
  background-color: #81b3d2;
  padding: 17px 192px;
}

.search-form .sendform-button:hover,
.search-form .sendform-button:focus {
  background-color: #669ec0;
}

.search-form .sendform-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*****************************************************************************
************************************FOOTER************************************
*****************************************************************************/
.footer-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(00, 11, 11, 0.2);
}

footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  padding-left: 120px;
}

.contacts .hashtag {
  margin-bottom: 0;
}

.contacts .tel {
  margin-top: 0;
}

footer .hashtag,
footer .tel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.social-list {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
}

.social-icon {
  display: block;
  width: 46px;
  height: 48px;
  fill: #ffffff;
  background-color: #81b3d2;
}

.social-icon:hover,
.social-icon:focus {
  background-color: #669ec0;
}

.social-icon:active {
  background-color: #5496bd;
}

.social-icon:active img {
  opacity: 0.3;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 100px;
}

.copyright p {
  line-height: 26px;
  display: block;
}

.copyright>a:hover svg {
  fill: #81b3d2;
}

.copyright>a:active svg {
  fill: #bdbbbc;
}

/*****************************************************************************
************************************HOTELS PAGE*******************************
*****************************************************************************/

/*****************************************************************************
*********************************SECTION FILTER*******************************
*****************************************************************************/
.filter {
  background-color: #81b3d2;
  background-image: url("../img/filter-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  color: #ffffff;
  line-height: 21px;
  width: 1200px;
  /*временно для сетки*/
  min-height: 220px;
  /*временно для сетки*/
  margin: 0 auto;
}

.filter label {
  display: block;
}

.filter-form {
  width: 1200px;
  /*временно для сетки*/
  padding: 30px 70px 0 70px;

  /*временно для сетки*/
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter fieldset {
  border: none;
  text-align: left;
  margin-right: 110px;
}

.infrastructure label,
.housing-type label {
  padding-left: 35px;
  padding-top: 30px;
}

.filter-form .checkbox-indicator-on::before {
  content: url("../img/icon-checkbox-on.svg");

}

.filter-form .checkbox-indicator-off::before {
  content: url("../img/icon-checkbox-off.svg");

}

.price-indicator {
  max-width: 320px;
}

.input-type-range {
  margin-top: 20px;
  width: 318px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: relative;
}

.input-type-range::before {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50px;
  border: 8px solid #ffffff;
  position: absolute;
  top: -9px;
  left: 22px;
  box-sizing: initial;
}

.input-type-range::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50px;
  border: 8px solid #ffffff;
  position: absolute;
  top: -9px;
  left: 222px;
  box-sizing: initial;
}

.price-indicator label {
  padding-top: 0;
}

.price-container {
  border: 2px solid #ffffff;
  border-radius: 2px;
  max-width: 314px;
  padding: 11px 50px 11px 65px;
  position: relative;
}

.price-container .min-price {
  padding-right: 97px;
}

.price-container .min-price::after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 10px;
  left: 140px;
}

.price-container span {
  display: inline-block;
}

.filter-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 5.5px 35px;
  margin-top: 50px;
  border-radius: 2px;
  margin-left: auto;
}

.filter .filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

/*****************************************************************************
**********************************SECTION SORT********************************
*****************************************************************************/
.sort {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  /*временно для сетки*/
  margin: 0 auto;
  align-items: center;
  padding: 31px 70px;
  border-bottom: 1px solid #e5e5e5;
}

.sort p,
.sort ul,
.sort ul>li,
.sort span {
  display: inline;
}

.sort p:first-child {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

.label-sort {
  padding-left: 50px;

}

.sort-list {
  padding-left: 0;
}

.sort .label-sort,
.sort-list li {
  font-size: 12px;
  line-height: 18px;
  padding-right: 35px;
}

.sort .sort-pointer {
  margin-left: auto;
}

.sort-list a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sort-list a:hover,
.sort-list a:focus {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;
  text-decoration: none;
}

.sort-list .current {
  color: #81b3d2;
  text-decoration: none;
}

.sort-pointer svg {
  fill: rgba(0, 0, 0, 0.3);
}

.sort-pointer>a:hover svg {
  fill: #231f20;
}

.sort-pointer>a:active svg {
  fill: #81b3d2;
}

.sort-pointer-current svg {
  fill: #81b3d2;
}

/*****************************************************************************
**************************SECTION HOTELS AVAILABLE****************************
*****************************************************************************/
.hotels-available {
  background-color: #fefefe;
  width: 1200px;
  /*временно для сетки*/
  margin: 0 auto;
  padding: 0 70px;
}

.hotels-list {
  padding-left: 0;
}

.hotels-list li {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-list img,
.hotels-list .info-hotel,
.hotels-list .rating {
  display: inline;
}

.info-hotel {
  margin-left: 30px;
}

.hotel-name h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin: 0 auto;
  text-align: left;
}

.info-hotel .housing-type {
  margin-top: 11px;
  margin-bottom: 11px;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.info-hotel .housing-type {
  display: block;
  text-align: left;
}

.booking-details-button,
.start-booking-button {
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.hotels-list.booking-details-button,
.hotels-list.start-booking-button {
  color: #ffffff;
}

.booking-details-button {
  background: #81b3d2;
  padding: 3px 17px;
}

.booking-details-button:hover,
.booking-details-button:focus {
  background: #669ec0;
}

.booking-details-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #5496bd;
}

.start-booking-button {
  background: #766357;
  padding: 3px 17px;
}

.start-booking-button:hover,
.start-booking-button:focus {
  background: #604e43;
}

.start-booking-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #503e33;
}

.rating {
  width: 110px;
  height: 27px;
  height: 24.5px;
  background-color: #f2f2f2;
  text-align: center;
}

.rating-container {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.rating-container .icon-star:after {
  content: url("../img/icon-star.svg");
}
