html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: 0;
  border-width: 0px;
  text-transform: uppercase;
}

.site-navigation,
.social-list,
.sort-list,
.hotels-list {
  list-style: none;
}

/*****************************************************************************
************************************HEADER************************************
*****************************************************************************/
.main-navigation li {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation .active {
  color: #766357;
}

/*****************************************************************************
******************************SECTION INTRO***********************************
*****************************************************************************/
.intro {
  background-color: #c66b57;
  background-image: url("../img/intro-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.intro h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/*****************************************************************************
******************************SECTION ABOUT***********************************
*****************************************************************************/
.about .housing {
  background-image: url("../img/icon-housing.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.about .meal {
  background-image: url("../img/icon-burger.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.about .souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-position: top center;
  background-repeat: no-repeat;
}



.feature h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.feature:first-child h2,
.feature:nth-of-type(5) h2 {
  color: #ffffff;
}

.feature:first-child,
.feature:nth-of-type(5) {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature:nth-of-type(2),
.feature:nth-of-type(3),
.feature:nth-of-type(4) {
  background-color: #ffffff;
}

.feature:nth-of-type(6),
.feature:nth-of-type(7),
.feature:nth-of-type(8) {
  background-color: #eeeeee;
}

/*****************************************************************************
******************************SECTION BOOKING*********************************
*****************************************************************************/
.booking {
  background-color: #ffffff;
}

.booking h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.booking p {
  line-height: 24px;
}

.booking .search-button {
  background-color: #766357;

}

.booking .search-button:hover,
.booking .search-button:focus {
  background-color: #604e43;
}

.booking .search-button:active {
  color: #625248;
  background-color: #503e33;
}
.search-form {
  background-color: #ffffff;
}
.search-form label {
  font-weight: 700;
}

.search-form input[type=text],
.search-form input::placeholder,
.search-form input[type=number] {
  color: #000000;
  font-weight: 700;
  background-color: #f2f2f2;
  border: transparent;
}

.search-form input:hover[type=text],
.search-form input:hover::placeholder,
.search-form input:hover[type=number] {
  background-color: #ebebeb;
}

.search-form input:focus[type=text],
.search-form input:focus::placeholder,
.search-form input:focus[type=number] {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form input[type=text],
.search-form input::placeholder {
  width: 346px;
  height: 38px;
  border: none;
}

.search-form input[type=number] {
  width: 114px;
  height: 38px;
  text-align: center;
}

.search-form .button-minus::after {
  content: "-";
}

.search-form .button-plus::after {
  content: "+";
}

.search-form .button-minus::after,
.search-form .button-plus::after {
  width: 11px;
  height: 11px;
  font-weight: 700;
  color: #a9a9a9;
}

.search-form .button-minus:hover::after,
.search-form .button-plus:hover::after {
  color: #000000;
}

.search-form .button-minus:active::after,
.search-form .button-plus:active::after {
  color: #81b3d2;
}

.search-form .button {
  background-color: #81b3d2;
}

.search-form svg {
  fill: #a9a9a9;
}

.search-form svg:hover {
  fill: #000000;
}

.search-form svg:active {
  fill: #81b3d2;
}

/*****************************************************************************
************************************FOOTER************************************
*****************************************************************************/
footer {
  background-color: #ffffff;
  opacity: 0.902;
}

footer .hashtag,
footer .tel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-icon {
  display: flex;
  width: 46px;
  height: 48px;
  fill: #ffffff;
  background-color: #81b3d2;
  align-items: center;
  justify-content: center;
}

.social-icon:hover,
.social-icon:focus {
  background-color: #669ec0;
}

.social-icon:active {
  fill: #88b6d1;
  background-color: #5496bd;
}

.copyright svg:hover {
  fill: #81b3d2;
}

.copyright svg:active {
  fill: #bdbbbc;
}

/*****************************************************************************
************************************HOTELS PAGE*******************************
*****************************************************************************/

/*****************************************************************************
*********************************SECTION FILTER*******************************
*****************************************************************************/
.filter {
  background-color: #81b3d2;
  background-image: url("../img/filter-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  color: #ffffff;
  line-height: 21px;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter .filter-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter .filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

/*****************************************************************************
**********************************SECTION SORT********************************
*****************************************************************************/
.sort {
  background-color: #ffffff;
}
.sort p:first-child {
  font-size: 21px;
  font-weight: 700;
  line-height: 34px;
}

.sort .label-sort,
.sort-list li {
  font-size: 12px;
  line-height: 18px;
}

.sort-list a {
  color: #cacaca;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sort-list a:hover {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;
  text-decoration: none;
}

.sort-list .current {
  color: #81b3d2;
  text-decoration: none;
}

.sort svg {
  fill: #cacaca;
}

.sort svg:hover {
  fill: #231f20;
}

.sort svg:active {
  fill: #81b3d2;
}

/*****************************************************************************
**************************SECTION HOTELS FILTERED*****************************
*****************************************************************************/
.hotels-filtered {
  background-color: #fefefe;
}

.hotel-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.housing-type,
.booking-price {
  line-height: 21px;
}

.booking-details-button,
.start-booking-button {
  display: block;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.hotels-list.booking-details-button,
.hotels-list.start-booking-button {
  color: #ffffff;
}

.booking-details-button {
  background: #81b3d2;
}

.booking-details-button:hover,
.booking-details-button:focus {
  background: #669ec0;
}

.booking-details-button:active {
  color: #88b6d1;
  background: #5496bd;
}

.start-booking-button {
  background: #766357;
}

.start-booking-button:hover,
.start-booking-button:focus {
  background: #604e43;
}

.start-booking-button:active {
  color: #857871;
  background: #503e33;
}

.rating {
  display: block;
  align-self: start;
  width: 110px;
  height: 27px;
  height: 24.5px;
  background-color: #f2f2f2;
  text-align: center;
}

.hotels-filtered .icon-star:after {
  content: url("../img/icon-star.svg");
}
